<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <nav>
        <div class="navtitle">LUXURIOUS EARTH</div>
        <div class="navbutton">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            <a href="{{ url_for('order') }}">Order</a>
             <a href="{{ url_for('profile') }}">Profile</a>
              <a href="{{ url_for('admin') }}">Admin</a>
            <a href="{{ url_for('main') }}">Logout</a>
        </div>
    </nav>

    <div class="aboutcontainer">
        <h2>About LUXURIOUS EARTH</h2>
        <br><br>

        <h3>Objectives of LUXURIOUS EARTH</h3>
        <p>
            The main goal of this project is to provide a way in which people can customize their desired regalia.
            <br><br>
            Because since many people often want to possess or even gift items that tend to last to themselves or to the people important to them.
            The objects that tent to last the longest are often very solid to stand the test of time.
            <br><br>
            And it should be no surprise that the main people that will make use of this system are people that are weathly. Or even just people who
            just want to find or in this case create their own adornments for themselves, their significant other, or simply. A gift to someone they
            deem to be deserving.
            <br><br>
        </p>

         <h3>Importance of LUXURIOUS EARTH</h3>
        <p>
            The Significance of this project is admitebly rather niche but still very valauble in the world wide scene because many people still use.
            gifting and using ornaments on their person especially on a very important and event like a formal meeting or a civil social gathering.
            as it often showns a form of subtle but also elegant way of showing a persons worth and personality as the saying goes. "You are what you present"

            <br><br>

            In some cases it is also a form of trophy for an achiement like for example several nations often gift a few of their soldiers with medals.
            that is considered to be a very valiant and note worthy thing to be remembered by, and not just in the national level it can even just be a simple.
            Personal or in-secret reasoning as to why people do this because this is even done by several families as a form of their custom and culture.
            <br><br>

        </p>

    </div>
</body>
</html>