<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
</head>
<body>
    <nav>
        <div class="navtitle">⚜️LUXURIOUS EARTH⚜️</div>
        <div class="navbutton">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            <a href="{{ url_for('order') }}">Order</a>
            <a href="{{ url_for('admin') }}">Admin</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('home') }}">Home</a>
        </div>
    </nav>

    <div class="box">
     <h2>💎WELCOME💎</h2>
    </div>

</body>
</html>